@import '2_base/config';

body {
  font-family: 'Roboto', sans-serif;
}

main {
  text-align: center;
}

.title {
  margin-bottom: 3%;
}

.container {
  display: flex;
  justify-content: center;
}
  
.table-container {  
  min-width: 225px;
  max-width: 500px;
  width: 50%;
  margin: 0 5%;

  .button-container {
    display: flex;
    margin: 5px;
  }

  .list {
    border: 1px solid black;
    min-height: 500px;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  width: 50%;
  max-width: 400px;

  input {
    margin: 10px 0;
  }

  button {
    width: fit-content;
    margin-top: 10px;
    padding: 2px;
    align-self: flex-end;
  }
}